.carousel-inner {
}

.header {
  /* border: 2px solid black; */
  position: relative;
  height: 30%;
  text-align: center;
}

.card-text {
  text-align: center;
}
.card {
  margin: 50px;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
