.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.carousel-item {
  margin-top: 50px;
}

.header {
  /* border: 2px solid red; */
  position: relative;
  height: 30%;
  text-align: center;
  margin: 3rem 0;
}
.title {
  width: 100%;
  height: 4rem;
  /* border: 3px solid red; */
  background-color: rgba(88, 87, 87, 0.296);
}

.card {
  box-shadow: 4px 4px 10px 0px rgb(89 92 124 / 59%);
}

.card:hover {
  box-shadow: 4px 4px 15px 0px rgb(89 92 124 / 70%);
}

.card-margin-bottom {
  margin-bottom: 60px;
}

.card-text-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-body-padding {
  padding: 24px;
}

.card-btn {
  display: flex;
  justify-content: right;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.carousel-inner {
  height: 30rem;
  /* border: 5 solid red; */
}

.container-top-padding {
  padding-top: 70px;
}

.car-desc {
  text-align: justify;
  margin-bottom: 50px;
}

.a {
  height: 30rem;
}
.nav-shadow {
  box-shadow: 0px 6px 16px 0px rgb(66 68 90);
}

.pic {
  object-fit: contain;
  max-height: 100%;
}

.mb-3 {
  max-width: 700px;
}

.rounded-start {
  height: -webkit-fill-available;
}

.val {
  font-size: x-large;
  color: red;
  font-weight: bold;
}

.card-title {
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  position: relative;
  display: inline;
}
.breadcrump-margin {
  margin-bottom: 2rem;
}

.img-cover {
  object-fit: cover;
}

.card-img {
  height: 300px;
  object-fit: cover;
}
.card-title-margin {
  margin-top: 10px;
}

.btn-end {
  text-align: end;
  margin-top: 25px;
}

tr {
  width: 50px;
}




